<md-content layout-fill layout="column" layout-align="center center" class="md-default-theme">

  <md-card class="md-whiteframe-1dp" style="width:350px">
    <md-card-content layout-padding>
      <form name="loginForm" flex-gt-md>
        <h1 class="md-title">Iniciar sessão</h1>
        <md-input-container flex>
          <label>Email</label>
          <input ng-model="email" type="email" name="email" ng-required="true">
        </md-input-container>

        <md-input-container flex>
          <label>Palavra-passe</label>
          <input ng-model="password" type="password" name="password" ng-required="true">
        </md-input-container>
        <md-input-container flex>


        </md-input-container>
        <md-input-container flex>
          <span style="color:#f00">{{errorMessage}}</span>
          <md-button style="margin-left:0; margin-right:0;"
                     class="md-raised md-primary"
                     ng-disabled="!loginForm.$valid"
                     ng-click="login(email,password)"
                     flex>Iniciar Sessão
          </md-button>
        </md-input-container>
      </form>
    </md-card-content>
  </md-card>

</md-content>

