<div class="md-toolbar-tools" layout="column">
    <div>
    	<md-button ng-click="$mdSidenav('left').toggle()" aria-label="Menu" class="sidenav-left-toggle" hide-gt-md style="min-width:0;margin-right:0;">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
    </div>
    
  <div>
    <md-button href="/" style="font-size:26px;margin-left:0;" ng-if="!pageTitle">Loja X</md-button>
  </div>
  <span ng-if="pageTitle">{{pageTitle}}</span>
  <span flex></span>
  <div>
  	  <md-button ui-sref="login" class="md-raised" ng-if="!currentSession.id">Iniciar sessão</md-button>
  </div>
</div>
